section[name='game-screen'] {
    .flexfit();
    .centerAbsolute();
    text-transform: smallcaps;
    font-size: @sq * 1.2;

    .gamefield {
        width: 100%;
        padding-bottom: 100%;
        .centerAbsolute();
        .radialGradient(lighten(@color1, 30%), lighten(@color1, 50%));
        top: @sq *8;
        overflow: hidden;
    }

    .meta {
        .centerAbsolute();
        top: @sq;
        height: @sq* 4;

        .level-info-display {
            position: absolute;
            left: 0;
            width: 25%;
        }


        .time {
            position: absolute;
            left: 90%;
            width: 10%;
        }

        .total-score {
            font-size: @sq * 1.5;
            position: absolute;
            left:25%;
            width: 10%;
        }

        .combo-elements {
            position: absolute;
            left:35%;
            font-size: @sq;
            width: 50%;

            &.fade-out {
                opacity: 0;
                transition: 2s all;
            }

        }

        .combo-numbers {
            div {
                float:left;
                width: 33%;
                font-size: @sq * 1;
            }

            height: @sq * 2;
            overflow: hidden;

            width: 100%;
        }

        .combo-score {
            font-size: @sq * 1.4;
        }

        .message-display {
            width: 100%;
            font-size: @sq * 2;
        }

        .time {
            font-size: @sq * 3;
        }
    }
}
@media screen and (max-width:480px) {
    section[name='game-screen'] {
        font-size: 1rem;
    }
}