@import 'colors.less';
@import 'mixins.less';
@import 'animations.less';
@import 'game.less';

@sq: 12px;
@numColors: 8;


html {
    .radialGradient(darken(@color1, 25%), darken(@color1, 20%));
    .flexfit();
    font-size: @sq;
    color: @white1;
    padding:0px;
}

body {
    font-family: RobotoDraft;
    .flexfit();
    // padding: @sq;
    margin: 0;
    perspective: 450px;
    -webkit-transform:translate3d(0,0,0);
}