<h3>
                    Can you save the polygon princess from the rhomboid ruffians?
                </h3>
<p>
    <strong>
                  Tap 
                </strong> two adjacent squares to switch them.
</p>
<p>
    Line up squares of the same color to collect points.
</p>
<p>
    Obtain bonus points for multiple chains and combos.
</p>
<p>
    Reach the target score before time runs out to proceed to the next level.
</p>
<p>
    Some things may change as the level increases...
    <ul>
        <li>
            Target score
        </li>
        <li>
            Size of the playing field
        </li>
        <li>
            Tiles need to make a chain
        </li>
        <li>
            Amount of colors
        </li>
    </ul>
</p>
